
<div class="header-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="logo">
					<h1 class="title" style="color:#FFFFFF">Personal Kitchen</h1>
				</div>
			</div>
			<div class="col-md-7">
				<div class="pull-right">
					<button class="g-signin" data-scope="email"
						data-clientid="164632780602-5sf75erhbu85omclvsj82v3j9rb3j20t.apps.googleusercontent.com"
						data-callback="onSignInCallback" data-theme="dark"
						data-cookiepolicy="single_host_origin"></button>
				</div>
			</div>
		</div>
	</div>
</div>